.Pokedex {
    text-align: center;
}

.Pokedex-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Pokedex-winner {
    color: seagreen;
    font-size: 40px;

}

.Pokedex-loser {
    color: #e91e63
}