.Lottery {
    border: solid 6px gray;
    padding: 1em 0 2em 0;
    text-align: center;
    margin: 1em auto auto;
    border-radius: 10px;
    width: 40em;
    background-color: lightgray;
}

.Lottery button {
    background-color: darkblue;
    color: white;
    font-size: 100%;
    border-radius: 15px;
    margin-top: 1em;
    padding: .5em;
}